.field-validation-error {
    color: red;
}

.field-validation-valid {
    display: none;
}

.input-validation-error {
    border: 1px solid red;
    background-color: #ffeeee;
}

.validation-summary-errors {
    font-family: 'Ubuntu Mono';
    font-style: italic;
    font-weight: bold;
    color: red;
}