.table-caption {
    text-align: center;
    font-family: 'Times New Roman';
    font-size: 14px;
    font-weight: bolder;
}
.details-table {
    font-family: 'Times New Roman', Times, serif;
}
.details-table td {
    padding: 0px 15px;
}
.courses-table {
    font-family: 'Times New Roman';
}
.courses-table th {
    font-size: 12px;
    border: 1px solid gray;
}
.courses-table td {
    color: #007196;
    font-size: 13px;
}
.rule {
    font-weight: bold;
}
#btn-register {
    position: relative;
    font-family: 'Times New Roman';
    left: 150px;
}
table tbody tr td.d-title {
    padding: 2px 15px;
}
table tbody tr td.d-text {
    font-size: 13px;
}
div.registration-info p {
    text-align: center;
    line-height: 10px;
    font-family: 'Times New Roman';
}
#accordion ul li {
    font-size: 13px;
}
.bottom-footer {
    border-top: 1px solid #b2b2b2;
    margin-top: 100px;
    padding-top: 10px;
    color: #b2b2b2;
}
.footer-nav {
    text-align: left;
    list-style: none;
}
.footer-nav li {
    display: inline;
}
.footer-nav li:not(:first-child):before {
    content: ' | ';
    padding: 0px 10px;
}
.footer-nav a {
    color: #b2b2b2;
}
.footer-nav a:hover {
    color: #007196;
    text-decoration: none;
}
#img-footer {
    width: 41px;
    height: 41px;
    vertical-align: middle;
    display: inline;
}
#profile-img {
    width: 170px;
    height: 170px;
}
#rule p {
    text-align: justify;
}