<div class="col-md-8 col-md-offset-1">
    <p>
        Your registration for the semester is pending approval from your Course Adviser, please kindly be patient while they are been reviewed.
    </p>
</div>