<div class="col-md-8 col-md-offset-1">
    <p>You are yet to register your courses for this semester. Kindly click on Register Courses under Course Registration Menu to register your courses.</p>
</div>