@{ 
    ViewBag.Title = "Home";
}

<h1>Home Index</h1>

<p>
    <a href="@Url.RouteUrl("login")">Click here</a> to Login!
</p>

<p>
    @Html.RouteLink("Click here", "login") to login!
</p>

@section Scripts
{
    <script>
        alert("HI!");
    </script>
}
