@{
    ViewBag.Title = "Home";
}


<div class="container">
    <div class="jumbotron">
        <h1>Sands University Portal</h1>
        <p class="text-justify">
            Welcome to the University Portal. This portal was developed in ASP.NET MVC 5 using various technologies like HTML5, CSS3, JavaScript on the Client-side, and C# on the Server-side. The Website is mobile-friendly as it uses the famous Bootstrap framework in the front-end.
        </p>
        <div>
            <a href="@Url.Action("rule")">
                <i class="glyphicon glyphicon-circle-arrow-right"></i>
                Registration Rules
            </a>
        </div>
    </div>

    <div class="row">
        <div class="col-md-4 col-lg-4">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">
                        <img alt="NewStudentLogo" src="~/Content/Images/newstudent.png" class="img-rounded pull-right" style="width: 20px; height: 20px"> New Students
                    </h3>
                </div>
                <div class="panel-body">
                    <p class="text-justify">Are you a new student who has just been admitted into the University, Click the link below to verify your portal account and login to your profile to Proceed.</p>
                </div>
            </div>
        </div>
        <div class="col-md-4 col-lg-4">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">
                        <img alt="ReturningLogo" src="~/Content/Images/retstudent.png" class="img-rounded pull-right" style="width: 20px; height: 20px"> Returning Students
                    </h3>
                </div>
                <div class="panel-body">
                    <p class="text-justify">If you are an already existing student of the University, and have an account? Kindly login below.</p>

                    <p><a href="/login">Click here to log into your profile</a></p>
                </div>
            </div>
        </div>
        <div class="col-md-4 col-lg-4">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">
                        <img alt="PGLogo" src="~/Content/Images/pg.jpg" class="img-rounded pull-right" style="width: 20px; height: 20px"> Postgraduate Students
                    </h3>
                </div>
                <div class="panel-body">
                    <p class="text-justify">Prospective Postgraduate Students are advised to check their 2015/2016 Screening results. Already existing Postgraduate Students should kindly proceed to the Postgraduate Portal.</p>
                </div>
            </div>
        </div>
    </div>
</div>